services:

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    command: start-dev
    ports:
      - "8080:8080"
    networks:
      - micro-network

  employee-service:
    build: ./employee-service
    ports:
      - "8081:8081"
    environment:
      # CONFUSION ALERT: We use 'http://keycloak:8080' instead of 'localhost:8080'
      # Inside the Docker network, containers talk to each other using their SERVICE NAME.
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/springboot
    depends_on:
      - keycloak
    networks:
      - micro-network

  department-service:
    build: ./department-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/springboot
    depends_on:
      - keycloak
    networks:
      - micro-network

  # --- 3. THE GATEWAY (Entry Point) ---
  api-gateway:
    build: ./api-gateway
    ports:
      - "9090:9090"
    environment:
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/springboot

      # CONFUSION ALERT: Environment Variable Overrides
      # Spring Boot allows you to override 'application.yml' settings using Environment Variables.
      # The syntax is: UPPERCASE and Underscores instead of dots/dashes.
      # This overrides: spring.cloud.gateway.routes[0].uri
      - SPRING_CLOUD_GATEWAY_ROUTES_0_URI=http://employee-service:8081
      # This overrides: spring.cloud.gateway.routes[1].uri
      - SPRING_CLOUD_GATEWAY_ROUTES_1_URI=http://department-service:8082

    depends_on:
      - employee-service
      - department-service
    networks:
      - micro-network

# --- 4. NETWORKING ---
networks:
  # We create a virtual "room" where all these containers live.
  # Inside this network, they can see each other by name (e.g., http://api-gateway:9090)
  micro-network:
    driver: bridge